body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #FCF4DF;
}

.container {
    text-align:center;
    max-width: 800px;
    
}

.profile {
    margin: 0 auto; 
}

.profile-img {
    height: 250px;
    
    
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}
